* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  background-color: #DDDFDF;
}

.header {
  background-color: #B388EB;
}

.navigation-bar {
  overflow: hidden;
  background-color: #B388EB;
  padding: 20px;
  width: 100%;
}

.navigation-bar a {
  float: left;
  display: block;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  float: left;
  width: 25%;
  color: black;
}

#portrait {
  width: 10%;
  border-radius: 100%;
  border: thick double #B388EB;
  float: right;
}

.left-column {
  float: left;
  width: 66.66%;
  padding: 15px;
}

.right-column {
  float: right;
  width 33.33%;
  padding: 15px;
}

.card {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a:hover {
  color: white;
}
footer {
  margin-top: 250px;
  background: #B388EB;
}
